<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BROWSE BOOKS</title>
    <link rel="stylesheet" href="/static/BrowseBooks1.css"> <!-- Link to the CSS file -->
</head>
<body>
    <header>
        <h1>BROWSE BOOKS</h1>
    
    <div id="search-section">
        <input type="text" id="search-input" placeholder="Search for a book...">
        <button id="search-button">Search</button>
    </div>
</header>

    <main>
        <div id="books-container">
            <div class="book-listing" id="book-listing">
                <!-- Books will be dynamically added here -->
            </div>
        </div>
    </main>
    <h3>Further Updations Going on</h3>
    <footer>
        <p>&copy; 2024 Zennith Nexus. All rights reserved.</p>
    </footer>
    <script src="/static/BrowseBooks1.js"></script> <!-- Link to the JavaScript file -->
</body>
</html>
